* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: #f2f3fb;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #343b45;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  padding: 1.5rem 0;
  margin: auto;
  width: 85%;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture {
  height: 9rem;
  width: 9rem;
  border-radius: 100%;
  overflow: hidden;
}

.picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #00445a;
}

.name > span {
  display: inline-block;
  overflow: hidden;
}

.name > span span {
  display: inline-block;
  transform: translateY(100%);
  transition: 0.4s;
}

.name.loaded span span {
  transform: translateY(0);
}

.info-box {
  width: 100%;
  background-color: #f5f5fc;
  border-radius: 0.5rem;
  border: 2px solid #343b45;
  padding: 1rem 0;
  height: 3.5rem;
  overflow: hidden;
  position: relative;
  margin-top: 1rem;
}

.info-box.active {
  height: auto;
}

.toggle {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.details {
  margin-top: 1rem;
  padding: 0 1rem;
}

.about {
  line-height: 1.5rem;
  text-align: left;
}

.social-media {
  width: 100%;
}

.social-media a div {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 2px solid #343b45;
  background-color: #f5f5fc;
  padding: 1rem;
  transition: 0.3s;
}

.social-media a div:hover {
  background-color: #343b45;
  color: white;
}
